.characters_filter_form {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255,255,255);
  color: rgb(0,0,0);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  font-size: rem(28px);
  z-index: 20;
  overflow: hidden;
  transition: all 0.3s linear;
}
.parametrs_startsWith_wrapper {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.parametrs_list__startsWith_input {
  margin: 1em 0;
  padding: 0.3em;
}

.parametrs_order_wrapper {
  margin: 0.5em;
  display: flex;
  align-items: center;
}
.parametrs_order_title {
  margin-right: 0.5em;
}
.parametrs_list__order_input {
  display: none;
}
.asc_order_input_wrapper {
  padding: 0.2em 0.5em;
  border: 2px solid black;
  border-right: none;
  border-radius: 5px 0 0 5px;
  transition: all 0.5s linear;
}
.desc_order_input_wrapper {
  padding: 0.2em 0.5em;
  border: 2px solid black;
  border-left: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.5s linear;
}
.checked {
  background: red;
  color: white;
}
.search_btn {
  background: red;
  color: white;
  font-weight: bold;
  padding: 1em 2em;
  clip-path: polygon(15% 0, 100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%);
  margin: auto 0 1em 0;
}
.filter_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(255,255,255);
}
.close_icon {
  color: black;
  position: absolute;
  top: 20px;
  right: 20px;
}
.hidden_block {
  left: -100%;
}
