.settings_icons_block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: white;
  animation: opacity 0.5s linear;
}
.filter_icon {
  color: rgb(0,0,0);
  margin: 1em auto 0 1em;
  cursor: pointer;
}
.toggle_component_list {
  margin: 1em 0.25em;
  color: rgb(134,134,134);
  transition: color 0.2s linear, box-shadow 0.2s linear;
}
.toggle_component_cards {
  color: rgb(134,134,134);
  margin: 1em 0.25em;
  transition: color 0.2s linear;
}
.active_component_type {
  color: rgb(0,0,0);
  box-shadow: none;
}
