.navigation_links {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include simple-size(100%);
  font-size: rem(28px);
  background: rgb(34,34,34);
  top: 0;
  right: 0;
  z-index: 20;
  transition: all 0.5s ease-in;
  @include xs-block() {
    position: relative;
    font-size: rem(22px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  };
  @include sm-block {
    font-size: rem(18px);
  };
}
.opened {
  background: rgba(34,34,34, 1);
  clip-path: circle(920px at 100% 0%);
  @include xs-block() {
    clip-path: none;
  };
}
.closed {
  background: rgba(34,34,34, 0);
  clip-path: circle(0px at 100% 0%);
  @include xs-block() {
    clip-path: none;
    opacity: 1;
  };
}

.navigation_block__link_item {
  display: block;
  height: 2em;
  color: rgb(255,255,255);
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5em;
}

.navigation_block__link_item:focus,
.navigation_block__link_item:hover {
  border-bottom: 2px solid rgb(255,0,0);
  transition: border-color 0.5s linear;
  outline: none;
}
.active_nav_link {
  border-bottom: 2px solid rgb(255,0,0);
}
