.characters_filter_form {
  position: fixed;
  left: 0;
  background: $secondary_bg;
  color: $contrast_text_color;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: rem(28px);
  z-index: 20;
  overflow: hidden;
  transition: all 0.3s linear;
  @include size(12);
  @include size-sm(4);
  @include size-md(3);
  @include sm-block {
    font-size: rem(22px);
    position: fixed;
    left: 0;
    box-shadow: $box_shadow;
  }
}
.hidden_block {
  left: -100%;
  @include sm-block {
    left: 0;
  }
}
.checked {
  background: $primary_bg;
  color: $primary_text_color;
}
.order_input_wrapper {
  padding: 0.2em 0.5em;
  border: 2px solid black;
  transition: all 0.5s linear;
}
.asc_order {
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.desc_order {
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.parametrs_order_wrapper {
  margin: 0.5em;
  display: flex;
  align-items: center;
}
.parametrs_order_title {
  margin-right: 0.5em;
}
.parametrs_list__order_input {
  display: none;
}
.parametrs_startsWith_wrapper {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.parametrs_list__startsWith_input {
  margin: 1em 0;
  padding: 0.3em;
}
