.pagination {
  width: 100%;
  font-family: 'kidkosmic', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  animation: opacity 0.5s linear;
  z-index: 15;
}
.total_results {
  margin: 1em 0;
  font-size: rem(20);
  @include sm-block {
    font-size: rem(14);
  };
}
.toogle_pages_block {
  display: flex;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
