.header_block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $header_bg;
  z-index: 30;
}
.home_link_logo {
  width: 100px;
}
