.header_block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202020;
  flex: 0 0 auto;
  z-index: 30;
}
.home_link_logo {
  width: 100px;
}
