.header_block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202020;
  flex: 1 1;
  z-index: 30;
  @include xs-block {

  };
}
