.input_default {
  border: none;
  border-bottom: 2px solid black;
}
.inputFieldWrapper {
  display: flex;
  position: relative;
}
.label_default {
  position: absolute;
  left: 0;
  transition: left 0.2s linear;
}
.input_default:focus {
  outline: none;
  ~ .label_default {
      left: -40%;
  }
}
.error_input {

}
