.character_link {
  position: relative;
  display: block;
  margin: .5em;
  box-shadow: $box_shadow;
  @include computed-size('character', $character_width);
  transition: all .2s linear;
  z-index: 10;
  @include sm-block {
    @include computed-size('character', $sm_character_width);
    &:hover, &:focus {
      transform: scale(1.1);
      .character_link__name {
        background: rgba(0,0,0, .5);
        color: $primary_text_color;
        z-index: 11;
        &:after {
          transform: scale(1);
        }
        &:before {
          transform: scale(1);
        }
      }
    }
  }
}
.character_link__name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: rem(16);
  background: rgba(0,0,0, .5);
  color: $primary_text_color;
  @include simple-size(100%);
  transition: all .2s linear;
  z-index: 11;
  @include sm-block {
    z-index: 0;
    background: transparent;
  }
  &:after {
    @extend %pseudo_border_default;
    @include border_hover(top, bottom, 2px, white, scaleX(0));
    z-index: 12;
  }
  &:before {
    @extend %pseudo_border_default;
    @include border_hover(left, right, 2px, white, scaleY(0));
    z-index: 12;
  }
}
