.pagination_block__page_item {
  padding: 0.7em;
  background: $secondary_bg;
  color: $contrast_text_color;
  font-size: rem(16);
  cursor: pointer;
  @include sm-block {
    font-size: rem(12);
  };
  transition: all 0.2s linear;
  &:hover, &:focus  {
    filter: invert(100%);
  }
}
.active_page_item {
  filter: invert(100%);
}
