.creator_name {
  font-family: $titles_ff;
  font-size: rem(12px);
  text-align: center;
  color: $contrast_text_color;
  padding: 0.5em;
  margin: .5em 0;
  cursor: pointer;
  transition: all 0.2s linear;
  &:focus, &:hover {
    color: $alternative_text_color;
    transform: scale(1.03);
  }
}
