.data_last_modified {
  text-align: right;
  align-self: flex-end;
}

.data_details_link {
  font-size: 0.8em;
  text-align: right;
  margin: 1em 0;
}

.data_description {
  font-family: $description_ff;
  font-size: rem(14px);
  margin: 1em 0 auto 0;
}

.data_title {
  @include size(12);
  font-family: $primary_titles_ff;
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em;
}

.data_details {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0.5em;
  @include size(6);
  @include size-md(7);
}
