.accordeon_section {
  position: relative;
  @include size(12);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  overflow: hidden;
  transition: max-height 0.2s linear;
}
.show_more_link {
  text-decoration: none;
  color: black;
}

.show_more_items_btn {
  flex: 0 0 200px;
  margin: 1em auto;
  clip-path: polygon(15% 0, 100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%);
}

.static_items_block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em auto;
  @include size(11);
}

.available_items_title {
  font-size: 1em;
  font-weight: bold;
  font-family: 'kidkosmic-italic';
  flex: 1 1 100%;
  margin: 0 auto;
  padding: 1em;
  background: black;
  color: white;
  cursor: pointer;
  &:first-of-type {
    margin-top: 1em;
  }
}

.default_slider_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  @include size(11);
}
