.accordeon_section {
  position: relative;
  @include size(12);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.show_more_link {
  display: flex;
  text-align: center;
  font-size: rem(18);
  padding: 1em 2em;
  margin: 2em auto;
  text-decoration: none;
  color: black;
  clip-path: polygon(15% 0, 100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%);
  background: red;
  color: black;
  transition: all 0.2s linear;
  @include lg-block {
    margin: 1em auto;
    &:hover {
      background: black;
      color: white;
    }
  };
}

.default_slider_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  @include size(11);
}

.default_content_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  @include size(11);
}

.custom_arrow {
  cursor: pointer;
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}
