.navigation_toggle_block {
  position: absolute;
  right: 5%;
  color: white;
  z-index: 21;
}

.navigation_humb {
  position: relative;
  opacity: 1;
  transition: all .5s ease-in;
  @include xs-block {
    display: none;
  };
}

.navigation_close {
  position: absolute;
  opacity: 1;
  transition: all .5s ease-in;
  @include xs-block {
    display: none;
  };
}

.opened_humb {
  opacity: 1;
}
.closed_humb {
  opacity: 0;
}
