.creators_content_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em auto;
  @include size(12);
  padding: 1em;
}
.creators_content_title {
  @include size(12);
  font-size: rem(28px);
  font-family: 'kidkosmic-italic', sans-serif;
  text-align: center;
  margin: 1em;
}
.creator_name {
  font-family: 'kidkosmic', sans-serif;
  @include size(6);
  display: flex;
  justify-content: center;
  font-size: rem(12px);
  text-decoration: none;
  color: black;
  margin: 0.5em 0;
}
