.creators_content_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em auto;
  @include size(12);
  padding: 1em;
}
.creators_content_title {
  @include size(12);
  font-size: rem(28px);
  font-family: $titles_ff;
  text-align: center;
  margin: 1em;
}
