:root {
  font-size: calc(0.5em + 0.8vw);
}
::before,
::after {
  box-sizing: inherit
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: inherit;
  display: block;
}
