
@import "smart-grid";
@import "animation";
@import "default";
@import 'utilities';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import '../app/main';

html, body {
  font-family: "Robotocondensed", sans-serif;
  font-weight: bold;
  height: 100%;
  background-color: red;
}
