@import "smart-grid";
@import "animation";
@import 'utilities';
@import "default";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'Modules';
@import 'Pages';

html, body {
  font-family: $primary_ff;
  font-weight: bold;
  background-color: $primary_bg;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page_content {
  @extend %page_content_default;
  @include sm-block {
    justify-content: flex-end;
  };
}

.single_page_content {
  @extend %page_content_default;
}

.cover_book_image {
  position: relative;
  margin: 0.5em;
  @include simple-size($cover_width, caracter_height($cover_width));
  @include md-block {
    @include simple-size($md_cover_width, caracter_height($md_cover_width));
  };
  @include lg-block {
    @include simple-size($lg_cover_width, caracter_height($lg_cover_width));
  };
}

.items_data_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  background: $secondary_bg;
  color: $contrast_text_color;
  box-shadow: $box_shadow;
  @include size(12);
  @include size-sm(10);
  @include size-lg(8);
  @include sm-block {
    margin: 1em 0;
  };
}
.styled_btn {
  background: $primary_bg;
  color: $primary_text_color;
  font-weight: bold;
  padding: 1em 2em;
  clip-path: polygon(15% 0, 100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%);
  margin: 1em 0;
  cursor: pointer;
}
