@import "smart-grid";
@import "animation";
@import "default";
@import 'utilities';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'Modules';
@import 'Pages';
$cover_width: 140px;
$cover_height: $cover_width/ 3 * 4;

html, body {
  font-family: "Robotocondensed", sans-serif;
  font-weight: bold;
  background-color: red;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.page_content {
  position: relative;
  background: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  color: rgb(255,255,255);
  flex: 1 1 100%;
}

.cover_book_image {
  position: relative;
  margin: 0.5em;
  @include simple-size($cover_width, $cover_height);
  @include md-block {
    @include simple-size(175px, 350px);
  };
  @include lg-block {
    @include simple-size(200px, 400px);
  };
}

.items_data_wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  background: white;
  color: black;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  @include size(12);
  @include size-sm(10);
  @include size-lg(8);
  @include sm-block {
    flex: 0 0;
    margin: 2em 0;
  };
}

.slick-list {
  padding: 1em;
}

.slick-slide {
  > div {
    display: flex;
    justify-content: center;
  }
}
.adjasent_item_link {
  margin: 1em 0;
  padding: 1em 2em;
  background: rgb(255,0,0);
  text-decoration: none;
  color: rgb(255,255,255);
  cursor: pointer;
}
