.loader_center {
  @include center_absolute_pos(45);
  border-radius: 50%;
  background: url('../assets/images/shield_loader.jpg') no-repeat;
  background-size: 147%;
  background-position: -11px -1px;
}

.first_circle {
  @include center_absolute_pos(90);
  @include spinner_settings(5, white);
  animation: rotation_clock_wise 2s linear infinite;
}
.second_circle {
  @include center_absolute_pos(80);
  @include spinner_settings(5, black);
  animation: rotation_counter_clock_wise 2s linear infinite;
}

.third_circle {
  @include center_absolute_pos(70);
  @include spinner_settings(5, white);
  animation: rotation_counter_clock_wise 1s linear infinite;
}

.fourth_circle {
  @include center_absolute_pos(60);
  @include spinner_settings(5, black);
  animation: rotation_clock_wise 1s linear infinite;
}
