.fetching_block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: rem(28px);
  text-align: center;
  animation: opacity .5s linear;
  @include size(12);
  @include size-sm(8);
  @include size-md(9);
  @include sm-block {
    padding: 0 1em;
  };
}
.loader_center {
  @include simple-size(45px);
  @include center_absolute_pos();
  border-radius: 50%;
  background: url('../assets/images/shield_loader.jpg') no-repeat;
  background-size: 147%;
  background-position: -11px -1px;
}

.first_circle {
  @include center_absolute_pos();
  @include simple-size(90px);
  @include spinner_settings(5, white);
  animation: rotation_clock_wise 2s linear infinite;
}
.second_circle {
  @include center_absolute_pos();
  @include simple-size(80px);
  @include spinner_settings(5, black);
  animation: rotation_counter_clock_wise 2s linear infinite;
}

.third_circle {
  @include center_absolute_pos();
  @include simple-size(70px);
  @include spinner_settings(5, white);
  animation: rotation_counter_clock_wise 1s linear infinite;
}

.fourth_circle {
  @include center_absolute_pos();
  @include simple-size(60px);
  @include spinner_settings(5, black);
  animation: rotation_clock_wise 1s linear infinite;
}
