.creators_content_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em auto;
  @include size(12);
}
.creator_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include size(4);
  padding: 1em;
  font-size: .8em;
  text-decoration: none;
  text-align: center;
  color: black;
  margin: 0.5em;
  background: rgb(232,232,232);
  border: 1px solid rgb(121,121,121);
  transition: transform 0.2s linear;
}
.creator_name:hover {
  transform: scale(1.1);
}
