.accordeon_section {
  position: relative;
  @include size(12);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.show_more_link {
  display: flex;
  text-align: center;
  font-size: rem(18);
  padding: 1em 2em;
  margin: 1em 0;
  text-decoration: none;
  clip-path: polygon(15% 0, 100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%);
  background: red;
  color: white;
  transition: all 0.2s linear;
  @include lg-block {
    &:hover {
      background: black;
    }
  };
}

.default_slider_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include size(11);
}

.default_content_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  @include size(11);
}

.custom_arrow {
  cursor: pointer;
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}

.available_items_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  font-size: rem(14);
  font-weight: bold;
  font-family: 'kidkosmic-italic', sans-serif;
  @include size(12);
  padding: 1em 1.5em;
  background: black;
  color: white;
  border-bottom: 2px solid red;
  cursor: pointer;
  transition: all .2s linear;
  @include lg-block {
    &:hover {
      background-color: red;
    }
  }
}

.active_tab {
  background-color: red;
}

.accordeon_loading_spinner {
  position: relative;
  @include simple-size(25px);
  &:before {
    content: '';
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
    @include center_absolute_pos(25);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    animation: sequent_rotation_1 2s linear infinite;
  }
  &:after {
    content: '';
    position: absolute;
    border: 2px solid transparent;
    border-radius: 50%;
    @include center_absolute_pos(25);
    border-left: 2px solid red;
    border-right: 2px solid red;
    animation: sequent_rotation_2 2s linear infinite;
  }
}

.open_dropdown {
  transform: rotate(0deg);
  transition: all 0.2s linear;
}
.close_dropdown {
  transform: rotate(-90deg);
  transition: all 0.2s linear;
}
