.search_results_wrapper {
  @include size(12);
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  animation: opacity .7s linear;
  @include size-sm(8);
  @include size-md(9);
  @include sm-block {
    padding: 0 1em;
  };
}
