// pages
@import './pages/Home/Home';
@import './pages/CharacterPage/CharacterPage';
@import './pages/CreatorPage/CreatorPage';
@import './pages/SeriesList/SeriesList';
// modules
// HumburgerButton
@import './modules/Button/Button';
@import './modules/HumburgerButton/HumburgerButton';
@import './modules/CharacterCard/CharacterCard';
@import './modules/ComicBookPreview/ComicBookPreview';
@import './modules/SearchCard/SearchCard';
@import './modules/ContentComponent/ContentComponent';
@import './modules/CreatorsSearchCard/CreatorsSearchCard';
@import './modules/DetailsSection/DetailsSection';
@import './modules/Footer/Footer';
@import './modules/FormGroup/FormGroup';
@import './modules/Header/Header';
@import './modules/ImageAvatar/ImageAvatar';
@import './modules/InputElement/InputElement';
@import './modules/Loader/Loader';
@import './modules/Navigation/Navigation';
@import './modules/PageButton/PageButton';
@import './modules/Pagination/Pagination';
@import './modules/PreviewItem/PreviewItem';
@import './modules/SearchComponent/SearchComponent';
@import './modules/Slider/Slider';
@import './modules/AccordeonSections/AccordeonSections';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page_content {
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255,255,255);
  flex: 1 1 100%;
  overflow: auto;
}

.cover_book_image {
  position: relative;
  margin: 0 .5em 1em .5em;
  @include simple-size(150px, 300px);
  @include md-block {
    @include simple-size(175px, 350px);
  };
  @include lg-block {
    @include simple-size(200px, 400px);
  };
}

.items_data_wrapper {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1;
  margin: 0;
  padding: 1.5em 0;
  background: white;
  color: black;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  @include size(12);
  @include size-sm(10);
  @include size-lg(8);
  @include sm-block {
    flex: 0 0;
    margin: 2em 0;
  };
}

.slick-list {
  padding: 1em;
}

.slick-slide {
  > div {
    display: flex;
    justify-content: center;
  }
}
