@import './pages/Home/Home';
@import './pages/CharactersList/CharactersList';
@import './pages/CharacterPage/CharacterPage';
@import './pages/ComicsList/ComicsList';
@import './modules/SearchComponent/SearchComponent';
@import './modules/ParametrsComponent/ParametrsComponent';
@import './modules/InputElement/InputElement';
@import './modules/CharacterCard/CharacterCard';
@import './modules/Loader/Loader';
@import './modules/Pagination/Pagination';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page_content {
  position: relative;
  color: rgb(255,255,255);
  flex: 1 1 500px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
  box-shadow: inset 0 0 5px black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
