// pages
@import './pages/Home/Home';
@import './pages/CharactersList/CharactersList';
@import './pages/CharacterPage/CharacterPage';
@import './pages/ComicsList/ComicsList';
@import './pages/ComicBookPage/ComicBookPage';
@import './pages/EventsList/EventsList';
@import './pages/SeriesList/SeriesList';
// modules
@import './modules/Button/Button';
@import './modules/CharacterCard/CharacterCard';
@import './modules/ComicBookPreview/ComicBookPreview';
@import './modules/SearchCard/SearchCard';
@import './modules/ContentComponent/ContentComponent';
@import './modules/DetailsSection/DetailsSection';
@import './modules/Footer/Footer';
@import './modules/FormGroup/FormGroup';
@import './modules/Header/Header';
@import './modules/ImageAvatar/ImageAvatar';
@import './modules/InputElement/InputElement';
@import './modules/Loader/Loader';
@import './modules/Navigation/Navigation';
@import './modules/PageButton/PageButton';
@import './modules/Pagination/Pagination';
@import './modules/PreviewItem/PreviewItem';
@import './modules/SearchComponent/SearchComponent';
@import './modules/Slider/Slider';
@import './modules/AccordeonSections/AccordeonSections';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.page_content {
  position: relative;
  color: rgb(255,255,255);
  flex: 1 1 100%;
}
.default_page_content {
  background: red;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.slick-slide {
    & > div {
      display: flex;
      justify-content: center;
  }
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.icon-custom-class {
  font-size: 50px;
  cursor: pointer;
  transition: transform 0.2s linear;
  border-radius: 50%;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1);
  }
}
