.results_list_item {
  text-decoration: none;
  color: $contrast_text_color;
  flex: 1 1 100%;
  padding: 1em;
  box-shadow: $box_shadow;
  margin: .5em 0;
  background: $secondary_bg;
  cursor: pointer;
  animation: opacity .5s linear;
  transition: transform .5s linear;
  @include xs-block {
    &:hover {
      transform: scale(1.01);
    }
  }
}
.results_list_item:nth-child(2n) {
  color: $primary_text_color;
  background: $alternative_bg;
}
