.home_page_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: $primary_text_color;
  padding-top: 2em;
  background: url('../assets/images/bg_home_page.jpg'), no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: none;
  @include sm-block {
    background-size: 158%;
  }
  @include md-block {
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    background-size: 110%;
  }
}
.home_page_block:after {
  @include simple-size(100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: $alternative_bg;
  opacity: 0.5;
}

.home_page_block_title {
  position: relative;
  font-family: $description_ff;
  font-weight: normal;
  font-size: rem(25px);
  z-index: 10;
}

.home_page_block_description {
  @include size(8);
  font-size: rem(20px);
  position: relative;
  text-align: center;
  margin: 1em;
  z-index: 10;
}
