.home_page_block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/images/bg_home_page.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  clip-path: polygon(16% 0, 100% 0%, 83% 100%, 0% 100%);
  padding: 1em;
  @include sm-block() {
    clip-path: none;
    background-size: 158%;
  }
}
.home_page_block:after {
  @include simple-size(100%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);
}

.home_page_block_title {
  position: relative;
  font-family: "44v2", sans-serif;
  font-weight: normal;
  font-size: 2.5em;
  color: rgb(255,255,255);
  z-index: 10;
}

.home_page_block_description {
  width: 75%;
  font-size: 1.4rem;
  position: relative;
  display: block;
  text-align: center;
  margin: 1em;
  color: rgb(255,255,255);
  z-index: 10;
}
