.characters_wrapper {
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
}

.characters_cards_wrapper {
  height: 100%;
  margin: 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
