.characters_wrapper {
  background: red;
  display: flex;
  height: 100%;
  overflow: auto;
}

.characters_cards_wrapper {
  position: relative;
  padding: 4em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  z-index: 10;
}
