.filter_parametrs_block {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255,255,255);
  color: rgb(0,0,0);
  height: 100%;
  width: 100%;
  z-index: 20;
  overflow: hidden;
  transition: all 0.3s linear;
}
.filter_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: rgb(255,255,255);
}
.close_icon {
  color: black;
  position: absolute;
  top: 20px;
  right: 20px;
}
.hidden_block {
  left: -100%;
}
