.pagination_block__page_item {
  padding: 0.7em;
  background: white;
  color: black;
  font-size: rem(12);
  transition: all 0.2s linear;
}
.pagination_block__page_item:not(.inactive_page_item) {
  cursor: pointer;
}
.pagination_block__page_item:not(.inactive_page_item):hover  {
  background: black;
  color: white;
}
.active_page_item {
  background: black;
  color: white;
}
.inactive_page_item {
  background: white;
  color: rgb(208,208,208);
  cursor: default;
}
